@model UserRecoverPasswordResult
@{
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

<h1>Password Sent</h1>
<p>We have sent your password to your <strong>@Model.EmailDisplay</strong> email address.</p>
<a href="@Url.Action("", "Home")">&lsaquo; Back</a>