<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="braintree" type="SolutionUnion.Configuration.BraintreeConfigurationSection, SolutionUnion" />
  </configSections>
  <appSettings>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="webpages:Enabled" value="false" />
    <add key="Key" value="DjB9bGnpNHkraBPbLq/PHqTA4VC5Nwkap46cfFoU6mQ=" />
    <add key="IV" value="KRb2Gx2IrTTYfntXmeRJVg==" />
  </appSettings>
  <connectionStrings configProtectionProvider="SolutionUnionProvider">
    <EncryptedData>YTpOCBqH1n0oPyvvrfnW9n6laLzrBsEVmEcpopAdxa+XFnIGttafO3dYj9eI7KCxy3wUpEKEaOAggkCstHl7PGY1NbVta3j5wPZVbfkCVjp7rS6n9860fedz1Tbmyw3fq2o0zkL5i6hcazO7gYBxlw0OVhxHrbfeANPyeCttndhEE3lzeKfqYRCrZr2kSyna5I+kCwkVmUfj8TPSL826g25abyPsHaggzYKv+dutWldJOexpKyy+AN+IhV11ctqW70sMXOz9yiSxTD3ZrbnGfogo0ZrAFtfEeo2IYRRh16JbE9CkY8Gts6j5+UBGfXNgjfIDjfuwstXHVHGa0fCl6w==</EncryptedData>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp configProtectionProvider="SolutionUnionProvider">
        <EncryptedData>ufh8+NybzNFjnVdmS6AIQUDwtR30KASqoWXfqLp9DBilZBfSLOZKDkTPru92xq4US+Mcp2MnKr60bJsVyK8JE1B9ilIcovnpgGpFIR7wa+SJOLyGICsbxLSWZIPXZTtkwLcUDTgYlR9l6gA0X9TYIaxCkf8Ryt3csMCiD9JnGgqmFiDXS1OOSHa/Izfzqxri11kpHuLYQ+xPLJUAIi835/+0C3ETIx+twUGCyAwQTWnAsdubpllOHa2WSdcQe5pH</EncryptedData>
      </smtp>
    </mailSettings>
  </system.net>
  <braintree configProtectionProvider="SolutionUnionProvider">
    <EncryptedData>BnsTIr8F81ywg3VaR+Cu7uXbv/GcLWb+ZLaMZxjN8kTo53NTFUAL0D7k20fyhTx58taBVJQuXmmzR56WrJ5822whAkJwUl/X/r7ozCtMFIsk99HLk4q2tXNMsz3ummzVOmbegNlcK/uypOV/wh1ZdA==</EncryptedData>
  </braintree>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <globalization culture="en-US" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login" />
    </authentication>
    <membership defaultProvider="ApplicationMembershipProvider">
      <providers>
        <clear />
        <add name="ApplicationMembershipProvider" type="SolutionUnion.Web.ApplicationMembershipProvider" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ApplicationRoleProvider">
      <providers>
        <clear />
        <add name="ApplicationRoleProvider" type="SolutionUnion.Web.ApplicationRoleProvider" />
      </providers>
    </roleManager>
    <httpRuntime enableVersionHeader="false" />
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error.aspx" redirectMode="ResponseRewrite" />
    <healthMonitoring>
      <rules>
        <remove name="Failure Audits Default" />
      </rules>
    </healthMonitoring>
    <machineKey validationKey="D797487A3A20979793CA2122042FE7573F788D8978232BC9587F473ACB7DE6ADA2AD1DA0CB86C3B95C3277574F019EBDA4BADBAA20D1901FFD1C27102EEFAF74" decryptionKey="922304CDFE45E7552647C82AB79DF0E1D5CBBBF1AD1056FA969048BBA7C8CB3C" validation="SHA1" decryption="AES" />
    <httpHandlers>
      <add path="routes.axd" verb="GET,HEAD" type="MvcCodeRouting.RouteDebugHandler, MvcCodeRouting" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <!-- defaultPath not working on dev server -->
    <!-- existingResponse="Auto" not working with errorMode="DetailedLocalOnly" -->
    <httpErrors errorMode="DetailedLocalOnly" existingResponse="PassThrough" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="MvcCodeRouting.RouteDebugHandler" path="routes.axd" verb="GET,HEAD" type="MvcCodeRouting.RouteDebugHandler, MvcCodeRouting" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <configProtectedData defaultProvider="SolutionUnionProvider">
    <providers>
      <add name="SolutionUnionProvider" type="SolutionUnion.SolutionUnionProtectedConfigurationProvider, SolutionUnion" />
    </providers>
  </configProtectedData>
</configuration>