
<div class="icon-help">
   <div class="h1">What do these icons mean?</div>

   <div class="h2">User Type Icons</div>
   <ul>
      <li>
         <img src="/Content/images/icon-s.gif" />
         Suspended Account
      </li>
      <li>
         <img src="/Content/images/icon-l.gif" />
         LITE Account
      </li>
      <li>
         <img src="/Content/images/icon-p.gif" />
         PRO Account
      </li>
      <li>
         <img src="/Content/images/icon-e.gif" />
         Microsoft Exchange Mailbox-Level
      </li>
   </ul>
   <hr />
   <div class="h2">Time Icons</div>
   <ul>
      <li>
         <img src="/Content/images/icon-01.gif" />
         Age of 30 day Trial Account
      </li>
      <li>
         <img src="/Content/images/icon-30-yellow.gif" />
         30 day Trial period has ended
      </li>
      <li>
         <img src="/Content/images/icon-45.gif" />
         Trial Account will be deleted in 15 days
      </li>
      <li>
         <img src="/Content/images/icon-sad.gif" />
         Trial Account will be deleted in 5 days
      </li>
   </ul>
</div>